<div class="row profile-body">
  <!-- left wrapper start -->
  <div class="d-none d-md-block col-md-4 col-xl-3 left-wrapper">
    <p class="mb-2 fw-bold" style="color: #083273; font-size: 14px">
      View all trainings & demo
    </p>
    <form class="search-form mb-3">
      <div class="input-group">
        <div class="input-group-text">
          <i class="feather icon-search icon-md cursor-pointer"></i>
        </div>
        <input
          type="text"
          class="form-control"
          id="searchForm"
          placeholder="Search training name"
        />
      </div>
    </form>
    <div class="card rounded">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between mb-1">
          <h6 class="card-title mb-0 text-muted">DESIGN</h6>
        </div>
        <a href="" (click)="(false)" class="col-md-4 ps-1 pe-1">
          <figure class="mb-1 d-flex">
            <img
              class="img-fluid rounded"
              src="https://via.placeholder.com/67x67"
              alt=""
            />
            <div class="d-block ms-3">
              <h6 class="mb-1" style="color: black">UX Design</h6>
              <p class="text-muted tx-12" style="color: black">
                Build your Library for your career and personal growth
              </p>
            </div>
          </figure>
        </a>
        <a href="" (click)="(false)" class="col-md-4 ps-1 pe-1">
          <figure class="mb-1 d-flex">
            <img
              class="img-fluid rounded"
              src="https://via.placeholder.com/67x67"
              alt=""
            />
            <div class="d-block ms-3">
              <h6 class="mb-1" style="color: black">Website Design</h6>
              <p class="text-muted tx-12" style="color: black">
                Build your Library for your career and personal growth
              </p>
            </div>
          </figure>
        </a>
        <a href="" (click)="(false)" class="col-md-4 ps-1 pe-1">
          <figure class="mb-1 d-flex">
            <img
              class="img-fluid rounded"
              src="https://via.placeholder.com/67x67"
              alt=""
            />
            <div class="d-block ms-3">
              <h6 class="mb-1" style="color: black">Service Design</h6>
              <p class="text-muted tx-12" style="color: black">
                Build your Library for your career and personal growth
              </p>
            </div>
          </figure>
        </a>
        <div class="d-flex align-items-center justify-content-between mb-1">
          <h6 class="card-title mb-0 text-muted">DEVELOPMENT</h6>
        </div>
        <a href="" (click)="(false)" class="col-md-4 ps-1 pe-1">
          <figure class="mb-1 d-flex">
            <img
              class="img-fluid rounded"
              src="https://via.placeholder.com/67x67"
              alt=""
            />
            <div class="d-block ms-3">
              <h6 class="mb-1" style="color: black">Android</h6>
              <p class="text-muted tx-12" style="color: black">
                Build your Library for your career and personal growth
              </p>
            </div>
          </figure>
        </a>
        <a href="" (click)="(false)" class="col-md-4 ps-1 pe-1">
          <figure class="mb-1 d-flex">
            <img
              class="img-fluid rounded"
              src="https://via.placeholder.com/67x67"
              alt=""
            />
            <div class="d-block ms-3">
              <h6 class="mb-1" style="color: black">iOS Development</h6>
              <p class="text-muted tx-12" style="color: black">
                Build your Library for your career and personal growth
              </p>
            </div>
          </figure>
        </a>
        <a href="" (click)="(false)" class="col-md-4 ps-1 pe-1">
          <figure class="mb-1 d-flex">
            <img
              class="img-fluid rounded"
              src="https://via.placeholder.com/67x67"
              alt=""
            />
            <div class="d-block ms-3">
              <h6 class="mb-1" style="color: black">Python</h6>
              <p class="text-muted tx-12" style="color: black">
                Build your Library for your career and personal growth
              </p>
            </div>
          </figure>
        </a>
        <a href="" (click)="(false)" class="col-md-4 ps-1 pe-1">
          <figure class="mb-1 d-flex">
            <img
              class="img-fluid rounded"
              src="https://via.placeholder.com/67x67"
              alt=""
            />
            <div class="d-block ms-3">
              <h6 class="mb-1" style="color: black">Rubi</h6>
              <p class="text-muted tx-12" style="color: black">
                Build your Library for your career and personal growth
              </p>
            </div>
          </figure>
        </a>
      </div>
    </div>
  </div>
  <!-- left wrapper end -->
  <!-- middle wrapper start -->
  <div class="col-md-8 col-xl-6 middle-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="card rounded">
          <div class="card-body">
            <video style="width: 100%; height: 100%;" controls>
              <source src="/assets/images/Meeting in _General_-20230825_151117-Meeting Recording.mp4" type="video/mp4">
            </video>
            <div class="d-flex justify-content-between mt-3">
            <form class="search-form flex-grow-1 me-2">
              <div class="input-group">
                <input type="text" class="form-control rounded-pill" id="chatForm" placeholder="Add a comment...">
              </div>
            </form>
            <div>
              <button type="button" class="btn btn-icon rounded-circle" style="background-color: #083273; color: white;">
                <i class="feather icon-send"></i>
              </button>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- middle wrapper end -->
  <!-- right wrapper start -->
  <div class="d-none d-xl-block col-xl-3">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="card rounded">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="card-title" style="color: #083273">All trainings(56)</p>
              <p class="text-muted tx-13">Live comments</p>
            </div>
            <hr />
            <a href="" (click)="(false)" class="col-md-4 ps-1 pe-1">
              <figure class="mb-1 d-flex">
                <img
                  class="img-fluid rounded"
                  src="https://via.placeholder.com/55x55"
                  alt=""
                />
                <div class="d-block ms-3">
                  <h6 class="mb-1" style="color: black">UX Design</h6>
                  <p class="text-muted tx-12" style="color: black">
                    Build your Library for your career and personal growth
                  </p>
                </div>
              </figure>
            </a>
            <a href="" (click)="(false)" class="col-md-4 ps-1 pe-1">
              <figure class="mb-1 d-flex">
                <img
                  class="img-fluid rounded"
                  src="https://via.placeholder.com/55x55"
                  alt=""
                />
                <div class="d-block ms-3">
                  <h6 class="mb-1" style="color: black">Website Design</h6>
                  <p class="text-muted tx-12" style="color: black">
                    Build your Library for your career and personal growth
                  </p>
                </div>
              </figure>
            </a>
            <a href="" (click)="(false)" class="col-md-4 ps-1 pe-1">
              <figure class="mb-1 d-flex">
                <img
                  class="img-fluid rounded"
                  src="https://via.placeholder.com/55x55"
                  alt=""
                />
                <div class="d-block ms-3">
                  <h6 class="mb-1" style="color: black">Service Design</h6>
                  <p class="text-muted tx-12" style="color: black">
                    Build your Library for your career and personal growth
                  </p>
                </div>
              </figure>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-12 grid-margin">
        <div class="card rounded">
          <div class="card-body">
            <p class="fw-bold text-center mb-3" style="color: #083273">
              Hi, Jane what would you like to do today?
            </p>
            <div class="d-grid gap-2">
              <button
                type="button"
                (click)="openVideoModal()"
                class="btn btn-primary"
                style="
                  background-color: #083273;
                  border: none;
                  border-radius: 29px;
                "
              >
                Record new training
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                style="
                  background-color: #02a7e1;
                  border: none;
                  border-radius: 29px;
                "
              >
                Upload new training
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- right wrapper end -->
</div>
